@font-face {
  font-family: gabriola;
  src: url(../webfonts/Gabriola.ttf);
}

@font-face {
  font-family: westernbb;
  src: url(../webfonts/WesternBangBang.ttf);
}

#skcontainer{
  width: 80%;
  background: red;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;
}
#skcontainer2{
  width: 100%;
  height: 100%;
  background: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#skcabecera{
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  height: 100px;
  line-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#sktitulo{
  font-size: 3em;
  font-family: gabriola;
  color: black;
  font-weight: bold;
}

#sktitulo2{
  font-size: 2em;
  font-family: westernbb;
  color: black;
  font-weight: bold;
  text-align: center;
}

#skjolly img{
  width: 100px;
}
