@font-face {
  font-family: gabriola;
  src: url(../webfonts/Gabriola.ttf);
}

@font-face {
  font-family: westernbb;
  src: url(../webfonts/WesternBangBang.ttf);
}

#skcontainer{
  width: 80%;
  background: red;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;
}
#skcontainer2{
  width: 100%;
  height: 100%;
  background: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#skcabecera{
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  height: 100px;
  line-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#sktitulo{
  font-size: 2.7em;
  font-family: gabriola;
  color: black;
  font-weight: bold;
}

.sktitulo2{
  font-size: 2em;
  font-family: westernbb;
  color: black;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid brown;
}

#skjolly img{
  width: 100px;
}

#skcuerpo{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skcuerpocontainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 15px;
}

.skmembercard{
  position: relative;
  width: 150px;
  height: 150px;
}
.skmembercard img{
  width: 150px;
}

.skcardinfo{
  width: 150px;
  height: 150px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  display: flex;
  flex-direction: column;
  
}

.skmembercard:hover .skcardinfo{
  opacity: .8;
}
